# Prerequisites
*.d

# Object files
*.o

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so

# Backup files
*~

# Ada library interface
*.ali

# GCOV
*.gcda
*.gcno
*.gcov

# Tests
aqc-selftest-main
