# Prerequisites
*.d

# Object files
*.o

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so

# Backup files
*~

.depends

*.cmo
*.cma
*.cmx
*.cmxa
*.cmi
*.cov
selftest
coverage.txt
ocamlprof.dump
